*{
    font-size:36px;font-family:微软雅黑, Arial, Helvetica, sans-serif;
    padding:0;margin:0;
}
hr{
    margin:0 0 20px;
    border:0;
}
ul{
    /*    
    -moz-column-count:4;
    -webkit-column-count:4;
    column-count:4;
    */
    list-style-type:none;
    overflow: hidden;
    text-align: left;
}
ul#tagToBeElected li{
    border:0px solid white;
    border-top:2px solid #d0d0d0;
    margin:2px;padding:2px;
    /*text-align: left;*/
}
ul#tagToBeElected li a{

}
a.clickable{
    text-decoration:underline;
}
p{
    text-align:center;
}
p#tagPath a{
    /*border:1px solid green;*/
    padding:0;
    margin:0 5px;
    text-decoration:underline;
}
button{
    width:320px;height:80px;
    vertical-align:middle;
}
p#tagRndName{
    color:red;
    margin:20px 0 0;
}
/**/
.mask{
    background-color:black;
}
.displaynone{
    display:none;
}

/**/
#tagToBeElected li{
    /*width: 25%;*/
    width:200px;
    display: inline-block;
    vertical-align:top;
}