*{font-size:36px;font-family:微软雅黑, Arial, Helvetica, sans-serif;}
ul{
    -moz-column-count:2; 	/* Firefox */
    -webkit-column-count:2; /* Safari 和 Chrome */
    column-count:2;
    list-style-type:none;
}
ul li{
    margin:20px 0;
    background-color:#efefee;
}
a, li.clickable{
    text-decoration:underline;
}
p{
    text-align:center;
}
p#tagPath a{
    /*border:1px solid green;*/
    padding:0;
    margin:0 5px;
}
button{
    width:320px;height:80px;
    vertical-align:middle;
}
